@charset "UTF-8";

:root {
    --color-raven: #6e2c2c;
    --color-canada: #6e2c2c;
    --color-bowhead: #4a1d1d;
    --color-coyote: hsl(0, 43%, 55%);

    /* Darken Black (Delta) */
    --color-black--delta: rgba(6, 6, 6, 0.3);

    --color-white: #f0f0f0;

    /* Swap Kaiser and Alto */
    --color-alto-placeholder: var(--color-alto);
    --color-kaiser-placeholder: var(--color-kaiser);
}
body {
    --color-alto: var(--color-kaiser-placeholder);
    --color-kaiser: var(--color-alto-placeholder);
}

html,
body {
    background-color: var(--color-mineshaft);
    color: var(--color-white);
}

table {
    font-weight: var(--font-weight-bold);
}
@media (max-width: 600px) {
    table {
        min-width: 100%;
    }
}

@media (max-width: 600px) {
    #spells tbody th {
        max-width: 40vw !important;
        font-size: var(--font-size-small);
        white-space: normal;
    }
}

th[disabled],
td[disabled] {
    filter: grayscale(100%);
}
th[disabled],
td[disabled],
th[disabled] *,
td[disabled] * {
    color: var(--color-dove) !important;
}

p,
.nobold {
    font-weight: initial;
}

p {
    max-width: 24em;
}

.stretch {
    transition: all 0.2s ease;
    max-width: 100%;
}
@media (min-width: 601px) {
    .stretch {
        min-width: 7em;
    }
}

.center {
    text-align: center;
    vertical-align: middle;
}

.muted {
    color: var(--color-kaiser);
    font-size: var(--font-size-small);
    font-weight: initial;
}

abbr[title] {
    color: inherit;
    border-bottom-width: 0;
    font-style: normal;
    font-weight: var(--font-weight-bold) !important;
}

.positive,
.negative,
.neutral {
    font-weight: var(--font-weight-bold);
}

.positive {
    color: var(--color-liquid);
}

.negative {
    color: var(--color-coyote);
}

.neutral {
    color: var(--color-white);
}

.unavailable {
    color: var(--color-dove);
}

.inline-list {
    font-size: 0;
}
.inline-list li {
    font-size: 1rem;
    display: inline;
}
.inline-list li + li::before {
    content: ", ";
}

sup {
    font-size: 12px;
}

thead tr:first-child th:first-child {
    text-transform: uppercase;
}
thead tr:first-child th:first-child::before,
thead tr:first-child th:first-child::after {
    content: "❧";
    color: var(--color-dove);
    display: inline-block;
    padding-left: var(--measure-small);
    padding-right: var(--measure-small);
    font-size: var(--font-size-delta);
}
thead tr:first-child th:first-child::before {
    transform: rotateY(180deg);
}

.table-of-contents a {
    color: inherit;
}
@media screen and (min-width: 801px) {
    .table-of-contents {
        columns: var(--max-columns);
        column-gap: var(--measure-large);
    }
}

th a {
    color: inherit;
    text-decoration: none;
}
th a:hover,
th a:focus,
th a:active {
    text-decoration-color: currentColor;
}

.toc-link {
    color: var(--color-dove);
    align-self: flex-start;
    margin-top: var(--measure-large);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}
