{% include calculations/level.liquid %}
{% include calculations/stats_before.liquid %}
{% include calculations/skills_before.liquid %}
{% include calculations/races.liquid %}
{% include calculations/classes.liquid %}
{% include calculations/stats_after.liquid %}
{% include calculations/skills_after.liquid %}
{% include calculations/combat.liquid %}
{% include partials/header.liquid %}

<main class="wrap  stretch" role="main">
    <div class="content  content--wide" id="content" role="document">

        <h1>{{ title | default: site.title }}</h1>

        <div class="content__body">

            <p class="beta  lede  lede--featured">{{ description | default: site.description }}</p>

            <hr>

            <h2 id="toc" class="delta">Table of Contents</h2>
            <ol class="table-of-contents  default-list">
                <li><a href="#personal">Personal</a></li>
                <li><a href="#stats">Stats</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#combat">Combat</a></li>
                <li><a href="#weapons">Weapons</a></li>{% if spells %}
                <li><a href="#spells">Spells</a></li>{% endif %}{% if armour or shield %}
                <li><a href="#defences">Defences</a></li>{% endif %}
                <li><a href="#equipment">Equipment</a></li>{% unless content == '' %}
                <li><a href="#notes">Notes</a></li>{% endunless %}
            </ol>

            <hr>

            {% unless race %}
                <p class="negative  strong">You must choose a <code>race</code> for the builder to work!</p>
            {% endunless %}
            {% unless class %}
                <p class="negative  strong">You must choose a <code>class</code> for the builder to work!</p>
            {% endunless %}
            {% if race == 'Half-Elf' and half_elf_skills.size < 2 or half_elf_skills.size > 2 %}
                <p class="negative  strong">As a Half-Elf, you must add 2 Skills (<code>Communication</code><small>/</small><code>Knowledge</code><small>/</small><code>Physical</code><small>/</small><code>Subterfuge</code>{% if class == 'Druid' or class == 'Ranger' %}<small>/</small><code>Survival</code>{% endif %}) to your <code>half_elf_skills</code> array!</p>
            {% endif %}
            {% if class == 'Bard' and level == 6 %}
                {% unless bard_spell_list == 'Illusionist' or bard_spell_list == 'Druid' %}
                    <p class="negative  strong">As a Level 6 Bard, you must choose a Spell List (<code>Illusionist</code><small>/</small><code>Druid</code>) for your <code>bard_spell_list</code>!</p>
                {% endunless %}
            {% endif %}

            <figure id="personal">
                <table>
                    <thead>
                        <tr>
                            <th class="center  stretch" colspan="2"><a href="#personal">Personal</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Level</th>
                            <td class="nobold">{{ level }} / 20</td>
                        </tr>
                        <tr>
                            <th>Race</th>
                            <td class="nobold">{{ race | default: "N/A" }}</td>
                        </tr>
                        <tr>
                            <th>Class</th>
                            <td class="nobold">{{ class | default: "N/A" }}</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td class="nobold">{{ race_data.size_class | default: 'Medium' }}</td>
                        </tr>
                        <tr>
                            <th>Speed</th>
                            <td class="nobold">{% if race_data.size_class == 'Small' %}25 ft. <span class="muted">/</span> 5 squares{% else %}30 ft. <span class="muted">/</span> 6 squares{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Languages</th>
                            <td class="nobold">
                                <ul class="inline-list">
                                    <li>Common</li>
                                    {% if race_data.language %}
                                        <li>{{ race_data.language }}</li>
                                    {% endif %}
                                    {% for language in bonus_languages %}
                                        <li>{{ language }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Proficiencies</th>
                            <td class="nobold">
                                <ul class="inline-list">
                                    {% unless class %}<li>N/A</li>{% endunless %}
                                    {% if light_armour %}<li>Light Armour</li>{% endif %}
                                    {% if medium_armour %}<li>Medium Armour</li>{% endif %}
                                    {% if heavy_armour %}<li>Heavy Armour</li>{% endif %}
                                    {% if nonmetal_armour %}<li>Non-Metal Armour</li>{% endif %}
                                    {% if shields %}<li>Shields</li>{% endif %}
                                    {% if nonmetal_shields %}<li>Non-Metal Shields</li>{% endif %}
                                    {% if buckler_shields %}<li>Bucklers</li>{% endif %}
                                    {% if two_weapon_fighting %}<li>Two-Weapon Fighting</li>{% endif %}
                                    {% if has_spells_arcane %}<li>Arcane Spellcasting</li>{% endif %}
                                    {% if has_spells_divine %}<li>Divine Spellcasting</li>{% endif %}
                                    {% if has_spells_illusionist %}<li>Illusionist Spellcasting</li>{% endif %}
                                    {% if has_spells_druid %}<li>Druid Spellcasting</li>{% endif %}
                                </ul>
                            </td>
                        </tr>
                        {% if class_data.features %}
                            <tr>
                                <th>Class Features</th>
                                <td class="nobold">
                                    {% for feature in class_data.features %}
                                        <div>{{ feature | replace: 'REPLACE_ONE', replace_one | replace: 'REPLACE_TWO', replace_two }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            {% unless strength_rolled %}
                <p class="negative  strong">You must fill in your <code>strength_rolled</code> for the builder to work!</p>
            {% endunless %}
            {% unless dexterity_rolled %}
                <p class="negative  strong">You must fill in your <code>dexterity_rolled</code> for the builder to work!</p>
            {% endunless %}
            {% unless mind_rolled %}
                <p class="negative  strong">You must fill in your <code>mind_rolled</code> for the builder to work!</p>
            {% endunless %}
            {% if stat_bonus_offset > 0 %}
                <p class="negative  strong">You are missing {{ stat_bonus_offset }} Stat Bonus{% if stat_bonus_offset > 1 %}es{% endif %} (<code>STR</code>/<code>DEX</code>/<code>MIND</code>) in your <code>stat_bonuses</code> array!</p>
            {% endif %}

            <figure id="stats">
                <table>
                    <thead>
                        <tr>
                            <th class="center" colspan="3"><a href="#stats">Stats</a></th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th class="center  stretch">Score</th>
                            <th class="center  stretch">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% emoji '💪' %} Strength <span class="muted">(STR)</span></th>
                            <td class="center"><abbr title="Rolled ({{ strength_nobonus }}){% if strength_bonus_race > 0 or strength_bonus_race < 0 %} + Race Bonus ({{ strength_bonus_race }}){% endif %}{% if strength_bonus > 0 or strength_bonus < 0 %} + Level Stat Bonus ({{ strength_bonus }}){% endif %}">{{ strength }}</abbr></td>
                            <td class="center">{% plusminus strength_modifier %}</td>
                        </tr>
                        <tr>
                            <th>{% emoji '💨' %} Dexterity <span class="muted">(DEX)</span></th>
                            <td class="center"><abbr title="Rolled ({{ dexterity_nobonus }}){% if dexterity_bonus_race > 0 or dexterity_bonus_race < 0 %} + Race Bonus ({{ dexterity_bonus_race }}){% endif %}{% if dexterity_bonus > 0 or dexterity_bonus < 0 %} + Level Stat Bonus ({{ dexterity_bonus }}){% endif %}">{{ dexterity }}</abbr></td>
                            <td class="center">{% plusminus dexterity_modifier %}</td>
                        </tr>
                        <tr>
                            <th>{% emoji '🧠' %} Mind <span class="muted">(MIND)</span></th>
                            <td class="center"><abbr title="Rolled ({{ mind_nobonus }}){% if mind_bonus_race > 0 or mind_bonus_race < 0 %} + Race Bonus ({{ mind_bonus_race }}){% endif %}{% if mind_bonus > 0 or mind_bonus < 0 %} + Level Stat Bonus ({{ mind_bonus }}){% endif %}">{{ mind }}</abbr></td>
                            <td class="center">{% plusminus mind_modifier %}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            <figure id="skills">
                <table>
                    <thead>
                        <tr>
                            <th class="center" colspan="2"><a href="#skills">Skills</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% emoji '🗣' %} Communication</th>
                            <td class="center  stretch"><abbr title="0{% if communication_bonus_race > 0 or communication_bonus_race < 0 %} + Race Bonus ({{ communication_bonus_race }}){% endif %}{% if communication_bonus_class > 0 or communication_bonus_class < 0 %} + Class Bonus ({{ communication_bonus_class }}){% endif %}{% if communication_nobonus > 0 %} + Level Bonus ({{ communication_nobonus }}){% endif %}">{% plusminus communication %}</abbr></td>
                        </tr>
                        <tr>
                            <th>{% emoji '📖' %} Knowledge</th>
                            <td class="center  stretch"><abbr title="0{% if knowledge_bonus_race > 0 or knowledge_bonus_race < 0 %} + Race Bonus ({{ knowledge_bonus_race }}){% endif %}{% if knowledge_bonus_class > 0 or knowledge_bonus_class < 0 %} + Class Bonus ({{ knowledge_bonus_class }}){% endif %}{% if knowledge_nobonus > 0 %} + Level Bonus ({{ knowledge_nobonus }}){% endif %}">{% plusminus knowledge %}</abbr></td>
                        </tr>
                        <tr>
                            <th>{% emoji '🏃‍♂️' %} Physical</th>
                            <td class="center  stretch"><abbr title="0{% if physical_bonus_race > 0 or physical_bonus_race < 0 %} + Race Bonus ({{ physical_bonus_race }}){% endif %}{% if physical_bonus_class > 0 or physical_bonus_class < 0 %} + Class Bonus ({{ physical_bonus_class }}){% endif %}{% if physical_nobonus > 0 %} + Level Bonus ({{ physical_nobonus }}){% endif %}">{% plusminus physical %}</abbr></td>
                        </tr>
                        <tr>
                            <th>{% emoji '🔎' %} Subterfuge</th>
                            <td class="center  stretch"><abbr title="0{% if subterfuge_bonus_race > 0 or subterfuge_bonus_race < 0 %} + Race Bonus ({{ subterfuge_bonus_race }}){% endif %}{% if subterfuge_bonus_class > 0 or subterfuge_bonus_class < 0 %} + Class Bonus ({{ subterfuge_bonus_class }}){% endif %}{% if subterfuge_nobonus > 0 %} + Level Bonus ({{ subterfuge_nobonus }}){% endif %}">{% plusminus subterfuge %}</abbr></td>
                        </tr>
                        <tr>
                            <th{% unless class == 'Druid' or class == 'Ranger' %} disabled{% endunless %}>{% emoji '🍃' %} Survival</th>
                            <td class="center  stretch"{% unless class == 'Druid' or class == 'Ranger' %} disabled{% endunless %}>
                                {% if class == 'Druid' or class == 'Ranger' %}
                                    <abbr title="0{% if survival_bonus_race > 0 or survival_bonus_race < 0 %} + Race Bonus ({{ survival_bonus_race }}){% endif %}{% if survival_bonus_class > 0 or survival_bonus_class < 0 %} + Class Bonus ({{ survival_bonus_class }}){% endif %}{% if survival_nobonus > 0 %} + Level Bonus ({{ survival_nobonus }}){% endif %}">{% plusminus survival %}</abbr>
                                {% else %}
                                    <span>—</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            <figure id="combat">
                <table>
                    <thead>
                        <tr>
                            <th class="center  stretch" colspan="2"><a href="#combat">Combat</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="stretch">❤️ HP <span class="muted">(Hitpoints{% if temporary_hitpoints > 0 %} + Temp{% endif %})</span></th>
                            {% if hitpoints > hitpoints_max_quarter %}
                                <td class="center  stretch"><abbr title="Strength ({{ strength }}){% for hitpoint in hitpoints_data %} + {% if forloop.first %}6{% else %}{{ hitpoint | at_most: 6 }}{% endif %}{% endfor %}{% if hitpoints_lost > 0 %} - Lost ({{ hitpoints_lost }}){% endif %}{% if hitpoints_spent > 0 %} - Spent ({{ hitpoints_spent }}){% endif %}">{{ hitpoints }}</abbr>{% if temporary_hitpoints > 0 %} {% plusminus temp_hitpoints false %}{% endif %}</td>
                            {% elsif hitpoints > 1 %}
                                <td class="center  stretch  negative">
                                    <abbr title="Strength ({{ strength }}){% for hitpoint in hitpoints_data %} + {% if forloop.first %}6{% else %}{{ hitpoint | at_most: 6 }}{% endif %}{% endfor %}{% if hitpoints_lost > 0 %} - Lost ({{ hitpoints_lost }}){% endif %}{% if hitpoints_spent > 0 %} - Spent ({{ hitpoints_spent }}){% endif %}">{{ hitpoints }}</abbr>{% if temporary_hitpoints > 0 %} {% plusminus temp_hitpoints false %}{% endif %}
                                    <br>
                                    <small>Cutting it close!</small>
                                </td>
                            {% elsif hitpoints > 0 %}
                                <td class="center  stretch  negative">
                                    <abbr title="Strength ({{ strength }}){% for hitpoint in hitpoints_data %} + {% if forloop.first %}6{% else %}{{ hitpoint | at_most: 6 }}{% endif %}{% endfor %}{% if hitpoints_lost > 0 %} - Lost ({{ hitpoints_lost }}){% endif %}{% if hitpoints_spent > 0 %} - Spent ({{ hitpoints_spent }}){% endif %}">{{ hitpoints }}</abbr>{% if temporary_hitpoints > 0 %} {% plusminus temp_hitpoints false %}{% endif %}
                                    <br>
                                    <small>About to rely on STR for {{ strength_modifier }} HP!</small>
                                </td>
                            {% elsif hitpoints_laststand > 0 %}
                                <td class="center  stretch  negative">
                                    <abbr title="Strength ({{ strength }}){% for hitpoint in hitpoints_data %} + {% if forloop.first %}6{% else %}{{ hitpoint | at_most: 6 }}{% endif %}{% endfor %}{% if hitpoints_lost > 0 %} - Lost ({{ hitpoints_lost }}){% endif %}{% if hitpoints_spent > 0 %} - Spent ({{ hitpoints_spent }}){% endif %}">{{ hitpoints }}</abbr>{% if temporary_hitpoints > 0 %} {% plusminus temp_hitpoints false %}{% endif %} {% plusminus hitpoints_laststand false %}
                                    <br>
                                    <small>Unconscious and surviving on STR alone!</small>
                                </td>
                            {% else %}
                                <td class="center  stretch  negative">
                                    DEAD
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="stretch">{% emoji '🛡' %} AC <span class="muted">(Armour Class)</span></th>
                            <td class="center  stretch"><abbr title="10 + DEX ({{ dexterity_modifier }}){% if armour.bonus > 0 or armour.bonus < 0 %} + Armour Bonus ({{ armour.bonus }}){% endif %}{% if shield.bonus > 0 or shield.bonus < 0 %} + Shield Bonus ({{ shield.bonus }}){% endif %}">{{ armour_class }}</abbr></td>
                        </tr>
                        <tr aria-hidden="true"><th> </th><td></td></tr>
                        <tr>
                            <th class="stretch">{% emoji '💪' %} Fortitude <span class="muted">Save</span></th>
                            <td class="center  stretch"><abbr title="Physical ({{ physical }}) + STR ({{ strength_modifier }})">{% plusminus fortitude %}</abbr></td>
                        </tr>
                        <tr>
                            <th class="stretch">{% emoji '💨' %} Reflex <span class="muted">Save</span></th>
                            <td class="center  stretch"><abbr title="Physical ({{ physical }}) + DEX ({{ dexterity_modifier }})">{% plusminus reflex %}</abbr></td>
                        </tr>
                        <tr>
                            <th class="stretch">{% emoji '🧠' %} Will <span class="muted">Save</span></th>
                            <td class="center  stretch"><abbr title="MIND ({{ mind_modifier }}) + Level ({{ level }})">{% plusminus will %}</abbr></td>
                        </tr>
                        <tr aria-hidden="true"><th> </th><td></td></tr>
                        <tr>
                            <th class="stretch">{% emoji '🎲' %} Melee <span class="muted">Attack Bonus</span></th>
                            {% if dexterity_modifier > strength_modifier and class == 'Fighter' or class == 'Rogue' %}
                                <td class="center  stretch"><abbr title="STR/DEX ({{ strength_modifier }}/{{ dexterity_modifier }}) + Level ({{ level }}{% if attack_melee_fighter_bonus > 0%} + Fighter Bonus ({{ attack_melee_fighter_bonus }}/{{ attack_ranged_fighter_bonus }}){% endif %})">{% plusminus attack_melee %} <span class="muted">/</span> {% plusminus attack_ranged %}</abbr></td>
                            {% else %}
                                <td class="center  stretch"><abbr title="STR ({{ strength_modifier }}) + Level ({{ level }}){% if attack_melee_fighter_bonus > 0%} + Fighter Bonus ({{ attack_melee_fighter_bonus }}){% endif %}">{% plusminus attack_melee %}</abbr></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="stretch">{% emoji '⚔️' %} Melee <span class="muted">Damage Bonus</span></th>
                            <td class="center  stretch">{% plusminus damage_bonus_melee %}</td>
                        </tr>
                        <tr aria-hidden="true"><th> </th><td></td></tr>
                        <tr>
                            <th class="stretch">{% emoji '🎲' %} Ranged <span class="muted">Attack Bonus</span></th>
                            <td class="center  stretch"><abbr title="DEX ({{ dexterity_modifier }}) + Level ({{ level }}){% if attack_ranged_fighter_bonus > 0%} + Fighter Bonus ({{ attack_ranged_fighter_bonus }}){% endif %}">{% plusminus attack_ranged %}</abbr></td>
                        </tr>
                        <tr>
                            <th class="stretch">{% emoji '🏹' %} Ranged <span class="muted">Damage Bonus</span></th>
                            <td class="center  stretch">{% plusminus damage_bonus_ranged %}</td>
                        </tr>
                        <tr aria-hidden="true"><th> </th><td></td></tr>
                        <tr>
                            <th{% unless spell %} disabled{% endunless %} class="stretch">{% emoji '🎲' %} Spell <span class="muted">Attack Bonus</span></th>
                            <td{% unless spell %} disabled{% endunless %} class="center  stretch"><abbr title="MIND ({{ mind_modifier }}) + Level ({{ level }}){% if attack_magic_fighter_bonus > 0%} + Fighter Bonus ({{ attack_magic_fighter_bonus }}){% endif %}">{% plusminus attack_magic %}</abbr></td>
                        </tr>
                        <tr>
                            <th{% unless spell %} disabled{% endunless %} class="stretch">{% emoji '✨' %} Spell <span class="muted">Difficulty Class</span></th>
                            <td{% unless spell %} disabled{% endunless %} class="center  stretch"><abbr title="10 + MIND ({{ mind_modifier }}) + Level ({{ level }})">{{ magic_dc }}</abbr></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            {%- assign weapons = weapons_equipped | concat: weapons_unequipped -%}
            <figure id="weapons">
                <table>
                    <thead>
                        <tr>
                            <th class="center  stretch" colspan="5"><a href="#weapons">Weapons</a></th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th class="center  stretch">Class</th>
                            <th class="center  stretch">Range</th>
                            <th class="center  stretch">Attack</th>
                            <th class="center  stretch">Damage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% comment %} For <tfoot> notice {% endcomment %}
                        {%- assign found_non_ranged_range_weapon = false -%}
                        {% for weapon in weapons %}
                            {%- assign nickname = equipment | where: 'name', weapon.title | map: 'nickname' | first -%}
                            {% comment %} TODO: Fix duplicate Unarmed Strike {% endcomment %}
                            {%- if forloop.index > 1 and weapon.title == 'Unarmed Strike' -%}
                                {% continue %}
                            {%- endif -%}
                            {%- if weapon.class != 'Ranged' and weapon.range and found_non_ranged_range_weapon == false -%}
                                {% assign found_non_ranged_range_weapon = true %}
                            {%- endif -%}
                            <tr class="{% if forloop.index > weapons_equipped.size %}unavailable{% endif %}">
                                <th>
                                    {% if nickname %}<span class="positive">{{ nickname }}</span><br><span class="muted">{{ weapon.title }}</span>{% else %}{{ weapon.title }}{% endif %}{% if weapon.class != 'Ranged' and weapon.range %} <span class="nobold">†</span>{% endif %}
                                </th>
                                <td class="center">
                                    {{ weapon.class | default: '—' }}
                                </td>
                                <td class="center">
                                    {% if weapon.range %}
                                        {{ weapon.range }} ft.
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if weapon.class == "Ranged" %}
                                        {% plusminus attack_ranged false %}
                                    {% elsif weapon.range %}
                                        {%- if weapons_equipped.size == 3 and forloop.index <= 3 and forloop.index > 1 -%}
                                            {% plusminus attack_melee_dual false %}
                                            {% unless attack_melee_dual == attack_ranged_dual %}
                                                / {% plusminus attack_ranged_dual false %}
                                            {% endunless %}
                                        {%- else -%}
                                            {% plusminus attack_melee false %}
                                            {% unless attack_melee == attack_ranged %}
                                                / {% plusminus attack_ranged false %}
                                            {% endunless %}
                                        {%- endif -%}
                                    {% elsif weapons_equipped.size == 3 and forloop.index <= 3 and forloop.index > 1 %}
                                        {%- if class == 'Ranger' -%}
                                            {%- assign attack_melee_dual = attack_melee | minus: 1 -%}
                                        {%- endif -%}
                                        {% plusminus attack_melee_dual false %}
                                    {% else %}
                                        {% plusminus attack_melee false %}
                                    {% endif %}
                                </td>
                                <td class="center  mono">
                                    {% if weapon.damage == null %}
                                        —
                                    {% elsif weapon.class == "Ranged" %}
                                        {{ weapon.damage }}
                                        {% if damage_bonus_ranged > 0 or damage_bonus_ranged < 0 %}
                                            {% plusminus damage_bonus_ranged false %}
                                        {% endif %}
                                    {% elsif weapon.range %}
                                        {{ weapon.damage }}
                                        {% if damage_bonus_melee > 0 or damage_bonus_melee < 0 %}
                                            {% plusminus damage_bonus_melee false %}
                                            / {{ weapon.damage }}
                                            {% if damage_bonus_ranged > 0 or damage_bonus_ranged < 0 %}
                                                {% plusminus damage_bonus_ranged false %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {{ weapon.damage }}
                                        {% if damage_bonus_melee > 0 or damage_bonus_melee < 0 %}
                                            {% if weapon.class == 'Two-Handed' %}
                                                {%- assign damage_bonus_melee_two_handed = damage_bonus_melee | plus: strength_modifier -%}
                                                {% plusminus damage_bonus_melee_two_handed false %}
                                            {% else %}
                                                {% plusminus damage_bonus_melee false %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if found_non_ranged_range_weapon or weapons_equipped[1].class == 'Two-Handed' %}
                        <tfoot>
                            {% if found_non_ranged_range_weapon %}
                                <tr>
                                    <th class="nobold" colspan="5">† Designates a weapon as both melee and ranged.</th>
                                </tr>
                            {% endif %}
                            {% if too_many_weapons == true %}
                                <tr>
                                    <th class="nobold  negative" colspan="5">You have marked too many weapons as equipped, so spillovers are shown as unequipped.</th>
                                </tr>
                            {% endif %}
                            {% if spells and weapons_equipped[1].class == 'Two-Handed' %}
                                <tr>
                                    <th class="nobold  negative" colspan="5">You are unable to cast spells when wielding a two-handed weapon!</th>
                                </tr>
                            {% endif %}
                        </tfoot>
                    {% endif %}
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            {% if spells %}
                {% if spell_specialisations_offset > 0 %}
                    <p class="negative  strong">You are missing {{ spell_specialisations_offset }} Spell Specialisation{% if spell_specialisations_offset > 1 %}s{% endif %} (1 for each Magic Level) in your <code>spell_specialisations</code> array!</p>
                {% endif %}

                <figure id="spells">
                    <table>
                        <thead>
                            <tr>
                                <th class="center  stretch" colspan="2"><a href="#spells">Spells</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for spell in spells %}
                                {% unless spell.level > magic_level %}
                                    {% assign discount = 0 %}
                                    {%- if spell_level != spell.level -%}
                                        {% assign spell_level = spell.level %}
                                        {% assign discount_taken_for_level = false %}
                                    {%- endif -%}
                                    {%- assign per_level = spell.per_level | times: level | ceil -%}
                                    {%- if spell.per_level_max -%}
                                        {% assign per_level = per_level | at_most: spell.per_level_max %}
                                    {%- endif -%}
                                    {%- assign per_level_second = spell.per_level_second | times: level | ceil -%}
                                    {%- if spell.per_level_second_max -%}
                                        {% assign per_level_second = per_level_second | at_most: spell.per_level_second_max %}
                                    {%- endif -%}
                                    {%- if spell_specialisations contains spell.title and discount_taken_for_level != true -%}
                                        {% assign discount = 1 %}
                                        {% assign discount_taken_for_level = true %}
                                    {%- endif -%}
                                    <tr>
                                        <th class="stretch{% if discount > 0 %}  positive{% endif %}">
                                            <small>{{ spell.level }}.</small> {{ spell.title }}
                                        </th>
                                        <td class="stretch">
                                            <p>
                                                <span class="muted{% if discount > 0 %}  positive{% endif %}">HP Cost:</span> <strong{% if discount > 0 %} class="positive"{% endif %}>{{ spell.level | times: 2 | plus: 1 | minus: discount }}{% if discount > 0 %} <small>✨ Specialisation</small>{% endif %}</strong>
                                                <br>
                                                <small>{{ spell.description | replace: 'PER_LEVEL_SECOND_MAX', per_level_second_max | replace: 'PER_LEVEL_MAX', per_level_max | replace: 'PER_LEVEL_SECOND', per_level_second | replace: 'PER_LEVEL', per_level }}</small>
                                            </p>
                                        </td>
                                    </tr>
                                {% endunless %}
                            {% endfor %}
                        </tbody>
                    </table>
                </figure>
                <dl>
                    <dt>Extending</dt>
                    <dd>Spell lasts 2&times; longer. Costs an additional <strong>2 HP</strong> to cast.</dd>
                    <dt>Empowering</dt>
                    <dd>Spell does 50% more damage. Costs an additional <strong>4 HP</strong> to cast.</dd>
                    <dt>Widening</dt>
                    <dd>Spell area-of-effect is 2&times; larger. Costs an additional <strong>6 HP</strong> to cast.</dd>
                </dl>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            {% endif %}

            {% if armour or shield %}
                <figure id="defences">
                    <table>
                        <thead>
                            <tr>
                                <th class="center  stretch" colspan="3"><a href="#defences">Defences</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if armour %}
                                <tr>
                                    <th class="stretch">
                                        {{ armour.title | replace: 'Mage', 'Mage Armour' }}
                                    </th>
                                    <td class="center  stretch">
                                        {{ armour.class | append: ' Armour' | replace: 'Magic Armour', 'Magic' }}{%- if armour.nonmetal %}, Non-metal{% endif -%}
                                    </td>
                                    <td class="center  stretch">
                                        {% plusminus armour.bonus false %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if shield %}
                                <tr>
                                    <th class="stretch">
                                        {{ shield.title }}
                                    </th>
                                    <td class="stretch">
                                        Shield
                                    </td>
                                    <td class="center  stretch">
                                        {% plusminus shield.bonus false %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <a href="#toc" class="toc-link">↑ Table of Contents</a>
                </figure>
            {% endif %}

            <figure id="equipment">
                <table>
                    <thead>
                        <tr>
                            <th class="center  stretch" colspan="2"><a href="#equipment">Equipment</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Wealth</th>
                            <td class="nobold" style="color: gold;">
                                {{ wealth | default: gold | default: class_data.starting_wealth | default: 0 | append: ' gold' | replace: 'gold gold', 'gold' }}
                            </td>
                        </tr>
                        {% if equipment.size > 0 %}
                            <tr>
                                <th>Equipment</th>
                                <td class="nobold">
                                    <ul class="table-of-contents">
                                        {% for item in equipment %}
                                            {%- assign name = item.name | default: item -%}
                                            {%- assign emoji = '❧' -%}
                                            {%- if weapons_names contains name -%}
                                                {%- assign emoji = '⚔️' -%}
                                            {%- elsif name contains armour.title -%}
                                                {%- assign emoji = '⛓' -%}
                                            {%- elsif name contains shield.title -%}
                                                {%- assign emoji = '🛡' -%}
                                            {%- endif -%}
                                            <li>{% emoji emoji %} {% if item.nickname %}<span class="positive">{{ item.nickname }}</span>, <span class="muted">{{ item.name | default: item }}</span>{% else %}{{ item.name | default: item }}{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="#toc" class="toc-link">↑ Table of Contents</a>
            </figure>

            {% unless content == '' %}
                <figure id="notes">
                    <table>
                        <thead>
                            <tr>
                                <th class="center  stretch"><a href="#notes">Notes</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="stretch">{{ content }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#toc" class="toc-link">↑ Table of Contents</a>
                </figure>
            {% endunless %}
        </div>

    </div>
</main>

{% include partials/footer.liquid %}
